
:root {
  --cacao-brun: #4E342E;
  --cafe-brun: #6D4C41;
  --beige-creme: #F5F5DC;
  --vert-feuillage: #388E3C;
  --or-dore: #D4AF37;
  --blanc-casse: #FAF9F6;
   --or-dore-claire: #e1b00d;
    --noire-police: #131211;
}
        body {
            background-color: var(--beige-creme);
            font-family: Arial, sans-serif;
        }

        h1 {
            margin: 0px;
            text-align: center;
            color: var(--beige-creme);
            font-size: 3.2em;
            font-weight: bold;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
            text-transform: uppercase;

            background-image:url('../images/image/tableauf.jpg'); /* Chemin de l'image */
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            width: 100%;
            height: 40vh;
            text-align: center;
            line-height: 500%;
        }
        
        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: var(--blanc-casse);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .containerst {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: var(--or-dore);
            color: var(--blanc-casse);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .containerst p{
            font-size:1.3rem;
            font-weight:bold;
            text-align:center;
            text-transform:uppercase;
            color:var(--cacao-brun);
        }
        .containerst nav{
            font-size:1.1rem;
            font-weight:bold;
            text-align:left;
        }
        .containerst strong{
            color:var(--cacao-brun);
        }
        
        .welcome-message {
            text-align: center;
            font-size: 1.6em;
            margin-top: 20px;
            color: var(--or-dore-claire);
            font-weight: bold;
            text-transform: uppercase;
        }
        .fonctionnalites-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 10px;
            gap: 20px;
            padding: 20px;
            background-color: var(--beige-creme);
            border-radius: 10px;
        }
        .fonctionnalite {
            background-color: var(--beige-creme);
            color: var(--blanc-casse);
            border-radius: 10px;
            padding: 20px;
            margin: 10px;
            text-align: center;
            width: 250px;
            box-shadow: 0 4px 12px var(--or-dore-claire);
        }
        .fonctionnalite img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
        .fonctionnalite ul{
            list-style-type: none;
            padding: 0;
        }
        .fonctionnalite li {
            margin: 10px 0;
            padding:2px;
            background:var( --cacao-brun);
            border-radius:10px;
        }
        .fonctionnalite a{
            color: var(--or-dore-claire);
            text-decoration: none;
            font-weight: bold;
            font-size:1.1rem;
        }
        .fonctionnalite a:hover {
            color: var(--or-dore);
            text-decoration: underline;
        }
/*Gestion produit*/
@media (max-width: 768px){
    h1 {
	font-size: 1.2em;
      width: 100%;
      height: 30vh;
      line-height: 350%;
}
ul li a{
    font-size: 0.8rem;
    padding: 2px 4px;
}
.welcome-message {
	font-size: 1.2em;
}
.containerst p {
	font-size: 1rem;
}
}